<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Thibzee | {% block title %}{% endblock %}</title>
        {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/sass/style.css')}}">
        {% endblock %}
    </head>
    <body>
    
    <header>
    <div class="navbar no-select">
            <ul>
                    <li>
                    <a class="no-select" href="{{ path('homepage') }}">Accueil</a>
                    </li>
{% if app.user %}
                    <li class="deco">
                    <a class="no-select" href="{{ path('task') }}">Taches</a>
                    </li>
{% endif %} 
            </ul>

            
{% if app.user %}
                <li class="deco">
                    <a class="no-select" href="{{ path('profile') }}">Mon profil</a>
                </li>
                 <li class="deco">
                    <a class="no-select" href="{{ path('logout') }}">Se déconnecter</a>
                </li>
{% endif %}
    </div>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
